/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  width: 100%;
  max-width: 500px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #ccc;
}
.container h1 {
  text-align: center;
  font-size: 40px;
  color: #000;
}
label {
  color: #000;
  font-size: 20px;
}
form {
  border-radius: 10px;
}
input[type="email"],
input[type="password"] {
  width: 95%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
button {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  background-color: #007bff;
  color: #000; /* Alterando a cor do texto do botão para preto */
  cursor: pointer;
  font-size: 20px; /* Aumentando o tamanho do texto do botão */
}
button:hover {
  background-color: #0056b3;
}

/* Regras de Mídia para Dispositivos Móveis */
@media screen and (max-width: 600px) {
  .container {
    padding: 20px;
  }
  input[type="email"],
  input[type="password"],
  button {
    padding: 8px;
    font-size: 14px;
  }
}
