<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SISTEMA DE CADASTRO</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flash-messages">
            {% for message, category in messages %}
                <li class="{{ message }}">{{ category }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

    
    
    {% block body %}
    {% endblock %}
    
    <footer class='content'>
        &copy; {{ current_year }} SISTEMA DE CADASTRO
    </footer>

    <script src="{{ url_for('static', filename='js.js') }}"></script>

</body>
</html>
